text-center {
    text-align:center;
  }
  .bg-red{
    background:red;
  }
  .mx-auto{
    margin: auto;
  }
  .flex{
    flex-direction:column;
  }
  .flex-col{
    flex-direction: column;
  }
  .items-center{
    align-items: center;
  }